# Elasticsearch test
ELASTIC_HOST_TEST=127.0.0.1

# Elasticsearch
ELASTIC_HOST=127.0.0.1
ELASTIC_PORT=9200
ELASTIC_PROTOCOL=http
SIZE_FOR_LOAD_TO_ELASTICSEARCH=20

# Redis
REDIS_HOST=redis
REDIS_PORT=6379
FILM_CACHE_EXPIRE_IN_SECONDS=350
REDIS_PROTOCOL=redis

# project
PROJECT_NAME=movies

# pg
POSTGRES_DB=movies_database
POSTGRES_USER=app
POSTGRES_PASSWORD=123qwe
POSTGRES_HOST=localhost
POSTGRES_PORT=5432

#api
SIZE=2

#indexes
MOVIES_INDEX=movies_test
GENRES_INDEX=genres_test
PERSONS_INDEX=persons_test

SERVICE_URL=http://0.0.0.0:7000

